/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * brisbane:
 *   - http://typekit.com/eulas/00000000000000007757292e
 * lores-12:
 *   - http://typekit.com/eulas/00000000000000007735bf82
 * sztos-variable:
 *   - http://typekit.com/eulas/0000000000000000774d3ebb
 *   - http://typekit.com/eulas/0000000000000000774d3eba
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-10-16 07:50:44 UTC"}*/

/* @import url("https://p.typekit.net/p.css?s=1&k=pxn8wdc&ht=tk&f=28317.52530.52531.58264&a=1494256&app=typekit&e=css"); */

@font-face {
  font-family: "lores-12";
  src: url("/font/lores-12.woff2") format("woff2"),
    url("/font/lores-12.woff") format("woff"),
    url("/font/lores-12.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "sztos-variable";
  src: url("/font/sztos-variable.woff2") format("woff2"),
    url("/font/sztos-variable.woff") format("woff"),
    url("/font/sztos-variable.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "sztos-variable";
  src: url("/font/sztos-variable-italic.woff2") format("woff2"),
    url("/font/sztos-variable-italic.woff") format("woff"),
    url("/font/sztos-variable-italic.otf") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "brisbane";
  src: url("/font/brisbane.woff2") format("woff2"),
    url("/font/brisbane.woff") format("woff"),
    url("/font/brisbane.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-lores-12 {
  font-family: "lores-12", sans-serif;
}
.tk-sztos-variable {
  font-family: "sztos-variable", sans-serif;
}
.tk-brisbane {
  font-family: "brisbane", sans-serif;
}
